<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- interface의 full name을 namespace의 속성으로 사용 : 필수 -->
<mapper namespace="com.bitcamp.mm.member.dao.MemberDaoInterface">

	<!-- select 결과 메핑을 위한 resultMap 설정 -->
	<resultMap id="resultMemberInfo" type="com.bitcamp.mm.member.domain.MemberInfo">
		<id property="idx" column="idx"/>
		<result property="uId" column="uid"/>
		<result property="uPW" column="upw"/>
		<result property="uName" column="uname"/>
		<result property="uPhoto" column="uphoto"/>
		<result property="regDate" column="date"/>
	</resultMap>
	
	<!-- 회원로그인 -->
	<select id="selectMemberById" resultMap="resultMemberInfo">
		select * from member where uid=#{id}
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="selectMemberById2"></select>
	
	<!-- 회원가입 -->
	<insert id="insertMember"></insert>
	
	<!-- 회원 정보 수정을 위한 정보 획득 -->
	<select id="selectMemberByIdx"></select>
	
	<!-- 회원정보수정 -->
	<update id="memberUpdate"></update>
	
	<!-- 회원정보 삭제 -->
	<delete id="memberDelete"></delete>
	
	<!-- 회원 리스트의 개수 : 검색을 위해 동적쿼리 적용 -->
	<select id="selectTotalCount"></select>
	
	
	<!-- 회원 리스트 : 검색을 위해 동적쿼리 적용 -->
	<select id="selectList"></select>
	
	
</mapper>


 
 